<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить формулу</title>
</head>
<body>
    <h1>Добавить формулу</h1>
    <form method="POST">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <label for="formula">Формула:</label>
        <textarea id="formula" name="formula" required></textarea>
        <br>
        <label for="module_id">Модуль:</label>
        <select id="module_id" name="module_id">
            {% for module in modules %}
                <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Добавить</button>
    </form>
    <a href="{{ url_for('main.list_modules') }}">На главную</a>
</body>
</html>
