<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формулы модуля: {{ module.name }}</title>
</head>
<body>
    <h1>Формулы модуля: {{ module.name }}</h1>
    <ul>
        {% for formula in formulas %}
            <li>{{ formula.name }}: {{ formula.formula }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.add_formula') }}">Добавить формулу</a>
    <a href="{{ url_for('main.list_modules') }}">На главную</a>
    <a href="{{ url_for('main.start_quiz', module_id=module.id) }}">Начать квиз по этому модулю</a>

</body>
</html>
